<!Doctype html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Git Hub Search</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="override.css" />
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script>
        angular.module('myApp',[]).controller('MyController', function ($scope, $http){
            $scope.message = 'Enter the Search Term';
            $scope.search = '';
            $scope.link = {};
            $scope.orderProperty = '';


            $scope.getSearchKey = function(event){
                if(event.keyCode === 13)
                    getPage('https://api.github.com/search/repositories?q=' + $scope.search);
            };
            $scope.getPage = getPage;

            function getPage(url){
                $http.get(url).success(function (data, status, headers){
                   $scope.repositories = data.items;
                    $scope.link = getLinkObject(headers('Link'));
                    console.log($scope.link);
                });
            }
            function getLinkObject(headerstring){
                return headerstring.match(/<[^>]+>;\s?rel="[^"]+"/gmi).map(function (match) {
                    var parts = /<([^>]+)>;\s?rel="([^"]+)"/gmi.exec(match);
                    return parts;
                }).reduce(function(obj, arr) {
                    var prop = arr[2];
                    var val = arr[1];
                    obj[prop] = val;
                    return obj;
                }, {});
            }
        });
    </script>
</head>
<body>
    <div ng-controller="MyController">
        <h1>{{message}}</h1>
        <input type="text" ng-keydown="getSearchKey($event)" ng-model="search"/>

        <div class="panel">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" ng-click="getPage(link.first)">First</button>
                <button type="button" class="btn btn-default" ng-click="getPage(link.prev)">Prev</button>
                <button type="button" class="btn btn-default" ng-click="getPage(link.next)">Next</button>
                <button type="button" class="btn btn-default" ng-click="getPage(link.last)">Last</button>
            </div>
        </div>
        <div class="panel">
            Orderby:
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" ng-click="orderProperty = '-forks'">Forks</button>
                <button type="button" class="btn btn-default" ng-click="orderProperty = '-open_issues_count'">Open Issues</button>
            </div>
        </div>
        <h1>Results</h1>
        <ul class="row">
            <li class="col-lg-4 col-md-4 col-xs-12" ng-repeat="repo in repositories | orderBy: orderProperty">
                <div class="row results-grid-col">
                    <div class="col-lg-4">
                        <img style="width: 100%;" ng-src="{{repo.owner.avatar_url}}" alt="{{repo.owner.login}}"/>
                    </div>
                    <div class="col-lg-8">
                        <ul>
                            <li>{{repo.full_name}}</li>
                            <li>Forks: {{repo.forks_count}}</li>
                            <li>Open Issues: {{repo.open_issues_count}}</li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>